{
"agirezon1":{
	"input":[
		{"name":"resonite","count":5},
		{"name":"zoastone","count":1}
	],
	"output":[
		{"name":"agirezon","count":6}
	],
	"delay":7,//Time for the item to craft times the dt must be an integer
	"power":20,
	"shaped":true//Only runs in the order given
},
"agirezon2":{
	"input":[
		{"name":"zoastone","count":1},
		{"name":"resonite","count":5}
	],
	"output":[
		{"name":"agirezon","count":5}
	],
	"delay":10,
	"power":20,
	"shaped":true
},
"kazfallsDiamond":{
	"input":[
		{"name":"coalore","count":300},
		{"name":"liquidlava","count":40}
	],
	"output":[
		{"pool":"kazfallsDiamond"}//Defines the pool to use
	],
	"power":100,
	"delay":20
},
"durasteelore":{
	"input":[
		{"name":"ironbar","count":2},
		{"name":"coalore","count":10}
	],
	"output":[
		{"name":"durasteelore","count":1}
	],
	"power":40,
	"delay":15
},
"obsidian":{
	"input":[
		{"name":"liquidwater","count":1},
		{"name":"liquidlava","count":1}
	],
	"output":[
		{"name":"obsidian","count":1}
	],
	"power":40,
	"delay":5
},
"gravelmaterial":{
	"input":[
		{"names":["cobblestonematerial", "rock01", "rock02", "rock03", "rock04", "rock05", "rock06", "rock07", "rock08", "rock09", "rock10", "rock11", "rock12", "rock13", "rock14", "rock15", "rock16", "rock17", "rock18", "rock19", "rock20"],"count":1},
		{"names":["copperpickaxe", "silverpickaxe", "goldpickaxe", "platinumpickaxe", "diamondpickaxe","energypickaxe"],"count":1,"damage":1}//Damages the item with a factor of 1
	],//Positive rounds up negative rounds down^
	//Use standard item parameters to define "durability" and "durabilityPerUse" in your item config
	"output":[
		{"name":"gravelmaterial","count":1}
	],
	"power":10
}

}