{
"craftingSound":"/sfx/interface/crafting_furnace.ogg",
"gui":{
	"background":{
		"type":"background",
		"fileHeader":"/interface/objectcrafting/campfire_header.png",
		"fileBody":"/interface/objectcrafting/campfire_body.png",
		"fileFooter":"/interface/objectcrafting/campfire_footer.png"
	},
	"itemGrid":{
		"type":"itemgrid",
		"position":[33,54],
		"dimensions":[2,1],
		"spacing":[19,19],
		"backingImage":"/interface/inventory/empty.png"
	},
	"close":{
		"type":"button",
		"base":"/interface/x.png",
		"hover":"/interface/xhover.png",
		"pressed":"/interface/xpress.png",
		"pressedOffset":[0,0],
		"position":[123,105]
	},
	"lblText":{
		"type":"label",
		"position":[70,78],
		"hAnchor":"mid",
		"wrapWidth":125,
		"value":"^#b9b5b2;Place items to alloy on the left"
		},
	"outputItemGrid":{
		"type":"itemgrid",
		"slotOffset":2,
		"position":[86,54],
		"dimensions":[1,1],
		"spacing":[19,19],
		"backingImage":"/interface/inventory/empty.png"
	},
	"pointer":{
		"type":"image",
		"position":[72,57],
		"file":"/interface/objectcrafting/arrow.png"
	},
	"overlay":{
		"type":"image",
		"file":"/interface/objectcrafting/campfire_shine.png",
		"position":[-20,20]
	}
}
}
